{tables,[{host,[{attributes,[id,hostname,ip,ssh_port,uid,pwd,node,type,start_args,application_dir,capabilities,status]}]}]}.

{host,{"c100","host0"},
      "c100",
      "192.168.0.100",
      22,
      "joq62",
      "festum01",
      'host0@c100',
      auto_boot,
      [],
      "host_0.applications",
      [],
      created
}.

{host,{"c100","host1"},
      "c100",
      "192.168.0.100",
      22,
      "joq62",
      "festum01",
      'host1@c100',
      auto_boot,
      [],
      "host_1.applications",
      [],
      created
}.

{host,{"c100","host2"},
      "c100",
      "192.168.0.100",
      22,
      "joq62",
      "festum01",
      'host2@c100',
      auto_boot,
      [],
      "host_2.applications",
      [],
      created
}.