{tables,[{host,[{attributes,[id,hostname,ip,ssh_port,uid,pwd,node,type,start_args,application_dir,capabilities,status]}]}]}.
{host,{"c200","host"},
      "c200",
      "192.168.0.200",
      22,
      "joq62",
      "festum01",
      'kubelet@c200',
      auto_boot,
      [],
      "host_c200.applications",
      [],
      created
}.

{host,{"c201","host"},
      "c201",
      "192.168.0.201",
      22,
      "joq62",
      "festum01",
      'kubelet@c201',
      auto_boot,
      [],
      "host_c201.applications",
      [],
      created
}.

{host,{"c202","host"},
      "c202",
      "192.168.0.202",
      22,
      "joq62",
      "festum01",
      'kubelet@c202',
      auto_boot,
      [],
      "host_c202.applications",
      [],
      created
}.

{host,{"c203","host"},
      "c203",
      "192.168.0.203",
      22,
      "pi",
      "festum01",
      'kubelet@c203',
      non_auto_boot,
      [{erl_cmd,"/snap/erlang/current/usr/bin/erl -detached"},
       {cookie,"cookie_test"},
       {env_vars,[]},
       {nodename,"kubelet"}],
      "host_c203.applications",
      [],
      created
}.